* {
  margin: 0;
  padding: 0;
}



.lower {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}
h1 {
  color: #aedc52;
}
a {
  color: #004651;
}

.container12 {
  /*border: 2px solid black;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
}
.image {
  border-radius: 15px;
  overflow: hidden;
}

.image img{
  height: 250px;
  width: 250px;
}

.cost {
  color: rgb(38, 230, 38);
  padding: 5px;
}
.shopNow {
  border: none;
  background-color: #aedc52;
  background-image: linear-gradient(45deg, #aedc52, #08ac4b);
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  color: white;
}

.loadbtn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/*Hovver*/
.card:hover {
  box-shadow: 2px 2px 2px 2px rgb(86, 84, 84);
}
.shopNow:hover {
  box-shadow: 2px 2px 2px 2px rgb(86, 84, 84);
}

